.div-local 
{
    max-width: 700px;
    height: auto;
    background: #FFF;
    padding: 2%;
    margin-top: 6%;
    border: 2px solid #ecf0f1; 
    border-radius: 10px;
}

.nav-link
{
    color: #2C3E50;
}
.nav-link:hover
{
    color: #2C3E50;
}