.div-local 
{
    max-width: 500px;
    height: auto;
    background: #FFF;
    padding: 2%;
    margin-top: 6%;
    border: 2px solid #ecf0f1; 
    border-radius: 10px;
}

.opcoes-local li {
    margin-top: 10px;
    border-radius: 9px;
    border: 1px solid #DFE6E9;
}

.opcoes-local li:hover {
    background-color: #00BC54;
}
.nav-link
{
    color: #2C3E50;
}
.nav-link:hover
{
    color: #2C3E50;
}