.div-cadastro
{
    max-width: 800px;
    height: auto;
    background: #FFF;
    border-radius: 10px;
}

.div-cadastro .card
{
    padding: 20px;
}

.form-control-label {
    font-weight: 520;
    color: #34495e;
}

.card
{
    border: none;
}
